@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body,
html {
  height: 100%;
  font-family: "Open Sans Condensed", sans-serif;
}

.container {
  position: relative;
  background: linear-gradient(0deg, #fccf2b 50%, #000000 50.1%);
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 1rem;
  overflow: hidden;
}

.swiper-slide img {
  width: 100% !important;
}

.swiper {
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

body {
  background: linear-gradient(0deg, #fccf2b 50%, #000000 50.1%);
}

.shop-card {
  max-width: 450px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  text-align: center;
  z-index: 2;
  position: relative;
}

.title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #23211f;
  margin-bottom: 5px;
}

.desc {
  font-size: 1.1rem;
  opacity: 0.6;
  margin-bottom: 10px;
  font-weight: 200;
  font-family: "Pacifico", cursive;
}

.cta {
  padding: 20px 20px 5px;
}
.cta::after {
  content: "";
  display: table;
  clear: both;
}

.price {
  float: left;
  color: #000000;
  font-size: 2rem;
  font-weight: 800;
  transition: color 0.3s ease-in-out;
  font-family: "Montserrat Alternates", sans-serif;
}

.btn {
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
  z-index: 1;
  float: right;
  border: none;
  font-size: 13px;
  text-transform: uppercase;
  padding: 12px 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 0.5s;
  background: none;
  outline: none;
  border: 1px solid #000000;
  border-radius: 20px;
  color: white;
  background: #000000;
}
.btn:hover {
  color: #eaeaea !important;
  border: 1px solid transparent !important;
  background: #af0000;
}

.swiper-wrapper .swiper-slide img {
  border-radius: 10px;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: 0.4s;
}
.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
  background: black;
  color: #fccf2b;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  --swiper-navigation-size: 20px;
}

.swiper .swiper-pagination-bullet-active {
  background: black;
}

/* CSS */
.button-3 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #000000;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat Alternates", sans-serif !important;
  font-size: 1rem;
  line-height: 20px;
  text-transform: uppercase;
  padding: 14px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  margin-top: 0.6rem;
  transition: all 0.3s ease-in-out;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #005117;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  overflow-x: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  width: 100%;
  background-color: #fefefe;
  border-radius: 1rem;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-content .from-title {
  font-size: 2rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* The Close Button */
.close {
  position: absolute;
  z-index: 5;
  top: 0.5rem;
  right: 1rem;
  font-size: 28px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.close::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fccf2b;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  top: -2.2rem;
  right: -2.2rem;
}
.close svg {
  width: 22px;
  fill: black;
}
.close:hover svg, .close:focus svg {
  fill: #af0000;
  text-decoration: none;
  cursor: pointer;
}

#contact-form .single-form {
  text-align: left;
}
#contact-form input[type=text],
#contact-form input,
#contact-form input[type=number],
#contact-form textarea {
  width: 100%;
  padding: 14px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  outline-color: #000000;
}
#contact-form input[type=text]:hover,
#contact-form input:hover,
#contact-form input[type=number]:hover,
#contact-form textarea:hover {
  border: 1px solid #000000;
}
#contact-form textarea {
  height: 80px;
  resize: none;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 450px) {
  .shop-card {
    max-width: 365px;
  }
  .title {
    font-weight: 900;
    font-size: 2rem;
  }
  .desc {
    font-size: 1.1rem;
  }
  .price {
    font-size: 1.7rem;
  }
  .btn {
    font-size: 13px;
    padding: 12px 18px;
  }
  .cta {
    padding: 15px 15px 5px;
  }
  .cta::after {
    content: "";
    display: table;
    clear: both;
  }
  .modal {
    height: unset;
  }
  .modal-content {
    padding: 1.8rem;
    height: 120%;
  }
  .modal-content .from-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .shop-card {
    max-width: 340px;
  }
}
@media screen and (max-width: 375px) {
  .shop-card {
    max-width: 300px;
    padding: 1rem;
  }
}
@media screen and (max-width: 335px) {
  .shop-card {
    max-width: 250px;
  }
  .title {
    font-weight: 900;
    font-size: 1.5rem;
  }
  .desc {
    font-size: 0.9rem;
  }
  .price {
    font-size: 1.2rem;
  }
  .btn {
    font-size: 13px;
    padding: 6px 12px;
  }
  .cta {
    padding: 10px 10px;
  }
  .cta::after {
    content: "";
    display: table;
    clear: both;
  }
}
@media screen and (max-width: 285px) {
  .shop-card {
    max-width: 200px;
  }
}/*# sourceMappingURL=shop.css.map */